*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

body{
    font-family: "Red Hat Display";
    background: #606e99;
    padding: 50px;
}

.container{
    width: 1440px;
    height: 900px;
    background: #E0E8FF;
    margin: 0 auto;
    align-content: center;
    padding: 102px 495px;
}

.container-group-6{
    width: 450px;
    height: 697px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 40px 40px -20px #0d30bd26;
}

.container-text-1{
    color: #1F2E55;
    font-size: 28px;
    font-weight: 900;
    line-height: normal;
    padding: 45px 0 17px;
    text-align: center;
}

.container-text-2{
    color: #717FA6;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    padding: 0 48px;
}

.group-4 {
    width: 354px;
    height: 98px;
    flex-shrink: 0;
    margin:  20px 48px 32px 48px;
    border-radius: 11px;
    background: #F7F9FF;
}